.layoutContainer {
  display: flex;
  min-height: 100vh;
  background-color: #ffffff;
}

.mainContent {
  flex: 1;
  padding: 40px 60px;
  margin-left: 260px; /* To account for fixed sidebar */
  box-sizing: border-box;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .mainContent {
    margin-left: 0;
    padding: 20px;
  }
}
